.bg-primary,
.btn-primary {
    background-color: #fff !important;
    color: #000 !important;
}


.card-header {
    background-color: #3b5998 !important;
    color: #fff !important;
    text-transform: capitalize;
}

.card-body {
    background-color: #f8f8f8 !important;
}

.btn-primary {
    border: 0px;
    font-weight: bold !important;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.btn-red {
    border: 0px;
    font-weight: bold !important;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    background-color: #EF413D;
    color: #fff;
}

.btn-red:hover {
    border: 0px;
    font-weight: bold !important;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    background-color: #d63937;
    color: #fff;
}

.fa {
    padding-right: 10px;
    color: #000;
}

.card-header > .fa {
    color: #fff;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler {
    border: 0px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.font-white {
    color: #000 !important;
    font-weight: bold !important;
}

title {
    color: #fff !important;
    font-weight: bold !important;
}

body {
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(252, 252, 252);
    /* background: linear-gradient(172deg, rgba(252, 252, 252, 1) 0%, rgba(255, 255, 255, 1) 77%, rgba(50, 150, 250, 1) 100%); */
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #f2f2f2 !important;
    border-top: #d63937 5px solid;
}

footer {
    position: fixed;
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    padding-top: 5px;
    color: #000;
    bottom: 0;
    font-size: smaller;
}

.navbar-brand {
    font-size: larger;
}

.table{
    background-color:  #fff;
}

.approved {
    background-color: #1cc88a !important;
    color: white;
    padding: 2px;
    border-radius: 5px;
    font-weight: bold;
    width: fit-content;
    block-size: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-size: smaller;
}

.pending {
    background-color: #8a8a8a !important;
    color: white;
    padding: 2px;
    border-radius: 5px;
    font-weight: bold;
    width: fit-content;
    block-size: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-size: smaller;
}

.withdraw {
    background-color: #ff9a2d !important;
    color: white;
    padding: 2px;
    border-radius: 5px;
    font-weight: bold;
    width: fit-content;
    block-size: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-size: smaller;
}

.decline {
    background-color: #ff2d2d !important;
    color: white;
    padding: 2px;
    border-radius: 5px;
    font-weight: bold;
    width: fit-content;
    block-size: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-size: smaller;
}

.nav-link:hover {
   color: cornflowerblue !important;
}

table.dataTable.no-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 1%;
    font-size: small;
}

.dataTables_length,
.dataTables_filter {
    margin-bottom: 1%;
}